apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: fintech
  labels:
    app: account-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account-service
        image: account-service:latest
        imagePullPolicy: Never  # CRUCIAL: usa imagem local
        ports:
        - containerPort: 5198
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver;Database=FinTrackAI;User=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 5198
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: fintech
spec:
  selector:
    app: account-service
  ports:
  - port: 5198
    targetPort: 5198
