apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: fintech
  labels:
    app: account-service
    version: "2.0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
        version: "2.0"
    spec:
      containers:
      - name: account-service
        image: account-service:latest
        imagePullPolicy: Never  # IMPORTANTE: usa imagem local
        ports:
        - containerPort: 5198
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Production"
        - name: ASPNETCORE_URLS
          value: "http://*:5198"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 5198
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5198
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: fintech
spec:
  selector:
    app: account-service
  ports:
  - port: 5198
    targetPort: 5198
  type: ClusterIP
