apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: fintech
spec:
  template:
    spec:
      containers:
      - name: account-service
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: fintech
spec:
  template:
    spec:
      containers:
      - name: frontend
        resources:
          limits:
            memory: "256Mi"
            cpu: "200m"
          requests:
            memory: "128Mi"
            cpu: "100m"
